@page
@model bbms.Pages.transfare.view_transfareModel
@{
}

<body class="bg-content">
    <main class="dashboard">
        <div class="container">

            @if (Model.datamsg.Length > 0)
            {
                <div class="alert alert-danger text-dark alert-dismissible fade show" role="alert">
                    @Model.datamsg
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
                </div>
            }

            @if (Model.successmsg.Length > 0)
            {
                <div class="alert alert-info text-dark alert-dismissible fade show" role="alert">
                    @Model.successmsg
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">x</button>
                </div>
            }

          

            <center>
                <h1 style=" font-family : Tahoma; font-weight : bolder; color :var(--sidebar-color);"> Blood Bank System</h1>
                <h2 style=" font-family : Tahoma; font-weight : bolder; color :var(--sidebar-color);">Investigation</h2>
                <i class="fas fa-droplet" style="color :var(--sidebar-color);"></i>
            </center>
            <div class="row">
                <div class="col">

                    <div class="slide-container">
                        <div class="slide-content">
                            <div class="card-wrapper">
                                <h2 style="font-size:16px; font-weight:800; font-family: Tahoma; text-align:center">Persons are not allowed to donate blood anytime</h2>
                                <h4 style="font-size:16px; font-weight:800; font-family: Tahoma; text-align:left; color:#dc3545; line-height:2rem;">1.Cancer
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6.HIV infection, AIDS</span>
                                </h4>
                                <h4 style="font-size:16px; font-weight:800; font-family: Tahoma; text-align:left; color:#dc3545; line-height:2rem;">2.Cardic Disease
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7. Age > 50yrs and < 18yrs </span>
                                </h4>
                                <h4 style="font-size:16px; font-weight:800; font-family: Tahoma; text-align:left; color:#dc3545; line-height:2rem;">3.Sever Lung Disease
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8. Weight < 50</span>
                                </h4>
                                <h4 style="font-size:16px; font-weight:800; font-family: Tahoma; text-align:left; color:#dc3545; line-height:2rem;">4.Hepatitis B & C
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9. Chronic Alcoholism</span>
                                </h4>
                                <h4 style="font-size:16px; font-weight:800; font-family: Tahoma; text-align:left; color:#dc3545; line-height:2rem;">5.HB Less Then 14g/dl
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10. Clothing Disorders</span>
                                </h4>
                           </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <br />
                    <form method="POST">

                        <div class="content">

                            <div class="inputbox">
                                <label>Donor ID</label>
                                <input type="text" name="id" value="@Model.donorsinfo.id" required readonly autocomplete="off" />
                                <input type="hidden" name="Rejected" value="Rejected"  readonly autocomplete="off" />
                                 <input type="hidden" name="Accepted" value="Accepted"  readonly autocomplete="off" />
                            </div>
                            <div class="inputbox">
                                <label>Donor Name</label>
                                <input type="text" name="name" value="@Model.donorsinfo.name" required readonly autocomplete="off" />
                            </div>

                            <div class="inputbox">
                                <label>Donor Age(>18 , < 50)</label>
                                <input  type="text" name="age" value="@Model.donorsinfo.age"  autocomplete="off" />
                            </div>
                            <div class="inputbox">
                                <label>Donor Gender</label>
                                <input  type="text" name="gender" value="@Model.donorsinfo.gender" required readonly autocomplete="off" />
                            </div>
                            <div class="inputbox">
                                <label>Amount Blood(< 14 HB)</label>
                                <input type="text" name="address" autocomplete="off" />
                            </div>

                            <div class="inputbox">
                                <label>Weight(> 50)</label>
                                <input type="text" name="weight" autocomplete="off" />
                            </div>
                           <div class="inputbox">
                            <label>Investigation</label>
                            </div>
                            <div class="slide-container1">
                                <div class="slide-content">
                                    <div class="card-wrapper">
                                <input type="checkbox" id="checkbox1" name="none" >
                                <label class="check" for="checkbox1">None</label><br />
                                <input type="checkbox" id="checkbox2" name="hbv" >
                                <label class="check" for="checkbox2">HBV</label><br />
                                <input type="checkbox" id="checkbox3" name="hcv" >
                                <label class="check" for="checkbox3">HCV</label><br />
                                <input type="checkbox" id="checkbox4" name="rvi" >
                                <label class="check" for="checkbox4">RVI</label><br />
                                 <input type="checkbox" id="checkbox5" name="cbc" >
                                <label class="check" for="checkbox5">CBC</label><br />
                                 <input type="checkbox" id="checkbox6" name="syphilis" >
                                <label class="check" for="checkbox6">Syphilis</label><br />
                                 <input type="checkbox" id="checkbox7" name="malaria" >
                                <label class="check" for="checkbox7">Malaria</label><br />
                                </div>
                                </div>
                                </div>
                        </div>
                        <br />
                        <center>
                            <button id="btnTest" asp-page-handler="Test" type="submit" class="btns"><i class="fas fa-edit"></i> Test</button>
                        </center>
                    </form>
                </div>
            </div>
            <br />
            <div class="row">
                
                <div class="Col">
                    <table class="table table-bordered table-stripped" id="mytable" style="width: 120%;">
                        <thead class="bg-danger text-white" style="font-family:Tahoma; text-align:center; font-size:16px; font-weight:700;">
                        <tr>
                        <th>DID</th>
                        <th>DName</th>
                        <th>Gender</th>
                        <th>DAge</th>
                        <th>Action</th>
                       </tr>
                        </thead>
                        <tbody>
                            @foreach(var row in Model.donorslist)
                            {
                                <tr style="color: red; font-family:Tahoma; text-align:center; font-size:16px; font-weight:700;">
                                    <td class="patient_id">@row.id</td>
                                    <td>@row.name</td>
                                    <td>@row.gender</td>
                                    <td>@row.age</td>
                                   
                                    <td>
                                        <a href="/investigation/view_investigation?id=@row.id" class="btn btn-success btn-sm text-light"><i class="fas fa-vial-virus"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                        <tfoot>
                            <tr class="" style="background:red">
                                <td colspan="6" style="height: 10px"></td>
                            </tr>
                        </tfoot>


                    </table>
                </div>
            </div>
            
        </div>
    </main>
</body>

<style>

    .slide-content {
        margin: 0 40px;
    }


    .slide-container {
        margin-top: 20px;
        max-width: 1000px;
        width: 100%;
        padding: 40px 0;
        border: 3px solid #dc3545;
        border-radius: 10px;
        box-shadow: 0 0 25px #dc3545;
    }


    .slide-container1 {
        max-width: 250px;
        width: 100%;
        padding: 10px 0;
        border: 1px solid #dc3545;
        border-radius: 10px;
        box-shadow: 0 0 25px #dc3545;
        margin-right: 20em;       
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px 0;
    }


    .inputbox {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding-bottom: 15px;
    }

        .inputbox:nth-child(2n) {
            justify-content: space-between;
        }

    .select-box:nth-child(4n) {
        justify-content: space-between;
    }

    .inputbox label {
        width: 95%;
        color: #dc3545;
        font-weight: bold;
        margin: 5px 0;
        text-align: left;
    }



    .inputbox input {
        height: 40px;
        width: 95%;
        padding: 0 10px;
        border-radius: 5px;
        border: 2px solid #dc3545;
        outline: none;
        display: flex;
        font-weight: 600;
        font-size: 18px;
        color: #dc3545;
        background: transparent;
    }

        .inputbox input:is(:focus, :valid) {
            box-shadow: 0 3px 6px rgba(0,0,0,0.2);
        }

    .selectbox {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        padding-bottom: 15px;
    }

        .selectbox select {
            height: 40px;
            width: 95%;
            padding: 0 10px;
            border-radius: 5px;
            border: 2px solid #dc3545;
            outline: none;
            background: transparent;
            color: #dc3545;
            font-weight: bolder;
        }

            .selectbox select:is(:focus, :valid) {
                box-shadow: 0 3px 6px rgba(0,0,0,0.2);
            }

        .selectbox label {
            width: 95%;
            color: #dc3545;
            font-weight: bold;
            margin: 5px 3px;
            text-align: left;
        }


    .btns {
        width: 40%;
        padding: 7px;
        font-weight: bolder;
        font-size: 20px;
        color: #fff;
        border: .2rem solid #dc3545;
        border-radius: 5px;
        background: #dc3545;
        
    }

        .btns:hover {
            background: transparent;
            color: #dc3545;
        }

        input[type="checkbox"]{
            width : 10%;
        color: #dc3545;
        font-weight: bold;
        margin: 5px 3px;
        text-align: left;
        }

        label.check {
        color: #dc3545;
        font-weight: bold;
        line-height: 1rem;
        }

</style>

<!--model-->
<div class="modal fade" id="add" tabindex="-1" aria - labelledby="updateuserLabel" ariahidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:140%;">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="updateuserLabel" style=" font-family : Tahoma; font-weight : bolder; color :var(--sidebar-color);">New Donor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form method="Post">
                    <div class="content">


                        <div class="inputbox">
                            <label>Blood(>14 HB)</label>
                            <input type="text" name="address" required autocomplete="off" />
                        </div>
                        <div class="selectbox">
                            <label>Invistigate</label>
                            <select name="bgroup">
                                <option value="">Select</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>

                        
                    </div>



                    <div class="modal-footer">

                        <button type="button" class="btns" data-bs-dismiss="modal">Close</button>
                        <input name="save" type="submit" class="btns" value="Save" />

                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#mytable').DataTable({
            //"order": [0,asc],
            order: [0, 'desc'],

            mark: true,
            dom: 'Bfrtip',
            lengthMenu: [
                [10, 25, 50, 100, -1],
                ['10 rows', '25 rows', '50 rows', '100 rows', 'Show All']
            ],





            buttons: [
                'pageLength',
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: ':visible'
                    }
                },

                {
                    extend: 'pdfHtml5',
                    // download: 'open',
                    exportOptions: {
                        columns: ':visible'
                    }

                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                'colvis'
            ],
            columDefs: [{
                targets: -1,
                visible: false
            }]


        });
    });
</script>

